name: CI

on: [push, pull_request]

env:
  SRB_SKIP_GEM_RBIS: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4"]
    name: Test Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@13e7a03dc3ac6c3798f4570bfead2aed4d96abfb # v1.244.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bin/rake test

  lint-and-docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    name: Lint & Docs
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@13e7a03dc3ac6c3798f4570bfead2aed4d96abfb # v1.244.0
        with:
          bundler-cache: true
      # This is just to ensure the default config is valid. The target is intentionally set
      # to a directory that doesn't contain any .rb or .rbi files.
      - name: Validate default config
        run: |
          bin/rubocop --plugin rubocop-sorbet --config config/rbi.yml config
          bin/rubocop --config config/default.yml config -r rubocop-sorbet
      - name: Lint Ruby files
        run: bin/rubocop
      - name: Verify cop examples
        run: bundle exec rake documentation_syntax_check
      - name: Verify documentation is up to date
        run: bundle exec rake generate_cops_documentation
